In [11]:
import pandas as pd

# List of CSV file names
csv_files = ["/Users/anikchand/Documents/Floodless/floodless/prediction/templates/predicted_datasets/draught_predicted.csv", "/Users/anikchand/Documents/Floodless/floodless/prediction/templates/predicted_datasets/earthquake_predicted.csv", "/Users/anikchand/Documents/Floodless/floodless/prediction/templates/predicted_datasets/flood_predicted.csv", "/Users/anikchand/Documents/Floodless/floodless/prediction/templates/predicted_datasets/storm_predicted.csv", "/Users/anikchand/Documents/Floodless/floodless/prediction/templates/predicted_datasets/volcano_predicted.csv", "/Users/anikchand/Documents/Floodless/floodless/prediction/templates/predicted_datasets/wildfire_predicted.csv"]

# Read all CSVs and concatenate them row-wise (axis=0)
df_list = [pd.read_csv(file) for file in csv_files]
result = pd.concat(df_list, axis=0, ignore_index=True)  # Stacks them vertically

# Save to a new CSV
result.to_csv("final_dataset.csv", index=False)

print(result.shape)  # Check the final shape

(2308, 5)

In [12]:
df = pd.read_csv("/Users/anikchand/Documents/Floodless/floodless/prediction/templates/final_dataset.csv")

In [13]:
df

,Year,Country,Location,Total Affected,Magnitude
0,2026,Democratic People's Republic of Korea,Hwanghae-namdo,1.582948e+07,185275.700
1,2026,El Salvador,Usulutan,4.938794e+06,137362.480
2,2026,Kenya,Kilifi,1.397655e+06,107761.336
3,2026,United Republic of Tanzania,Ngorongoro district (Arusha province),2.841065e+05,229979.190
4,2026,Italy,Sicilia,1.384674e+06,148570.280
...,...,...,...,...,...
2303,2033,United States of America,Fallbrok area (San Diego district,1.183290e+03,164420.400
2304,2033,Guatemala,Guatemala,1.121361e+03,55344.130
2305,2033,Canada,Quebec province,1.864483e+02,89661.770
2306,2033,United States of America,Texas,3.015393e+03,106507.240
2307,2033,Ecuador,Azuay,1.114582e+03,18491.291

In [14]:
df.sort_values(by="Year", inplace=True)

In [15]:
df

,Year,Country,Location,Total Affected,Magnitude
0,2026,Democratic People's Republic of Korea,Hwanghae-namdo,1.582948e+07,185275.700
317,2026,Afghanistan,Wardak,1.580103e+02,60696.105
316,2026,Armenia,Aragatsotn,4.810881e+02,68069.670
315,2026,Democratic Republic of the Congo,Bukama area (Haut-Lomami district,1.501870e+03,52400.215
314,2026,Mozambique,Cabo Delgado,1.044414e+03,60992.660
...,...,...,...,...,...
1313,2033,Uruguay,Paysandu,2.235642e+02,59296.883
1314,2033,Democratic People's Republic of Korea,Hungnam city (Hamhung district,7.435653e+02,48805.414
1315,2033,Sudan,Kas District (South Darfur State); Kassala,5.821973e+03,92016.730
1317,2033,Haiti,Port-au-Prince,2.966563e+03,44509.367
2307,2033,Ecuador,Azuay,1.114582e+03,18491.291

In [16]:
df.to_csv("final_dataset.csv", index=False)